* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

#main {
  width: 100%;
  height: 650px;
  background-image: url(../Image/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* logo */
.logo {
  width: 100%;
  height: 70px;
  background-color: #edf5fb;
}
.logo img {
  margin-left: 38%;
  height: 60%;
  margin-top: 10px;
}

/*  Login Form */
.box {
  width: 30%;
  height: 500px;
  margin: auto;
  margin-top: 5%;
  background-color: #edf5fb;
  border: 1px solid green;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 0 rgba(255, 255, 255, 0.5);
}
.hed {
  color: #4d92bd;
  margin-left: 40%;
  margin-top: 5%;
  font-size: 25px;
}
.caree {
  font-size: 25px;
  margin-left: 24%;
  margin-top: 2%;
}
.mob {
  margin-left: 8%;
  font-size: 20px;
}
.mob1 {
  width: 80%;
  height: 35px;
  margin-left: 8%;
  background-color: #fff3cd;
  border: 1px solid green;
  border-radius: 5px;
  outline: none;
}
.pass {
  width: 70%;
  height: 35px;
  margin-left: 8%;
  font-size: 20px;
}
.for {
  margin-left: 8%;
  font-size: 18px;
  text-decoration: none;
}
.log {
  width: 55%;
  height: 45px;
  margin-left: 20%;
  background: linear-gradient(273.57deg, #2e3192 1.14%, #4c92be 100%);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  border-top: 1px solid transparent;
  border-top-color: transparent;
  border-bottom: 1px solid transparent;
}
.log:hover {
  box-shadow: 3px 3px 6px 0 rgba(255, 255, 255, 0.5),
    -3px -3px 6px 0 rgba(116, 125, 136, 0.5),
    inset -3px -3px 6px 0 rgba(255, 255, 255, 0.2),
    inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
}

/* login .htm */
/* hedar */
#main1 {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  gap: 2%;
}
header {
  width: 100%;
  height: 100px;
  background-color: #edf5fb;
}
header img {
  height: 40%;
  margin-top: 2%;
  margin-left: 5%;
}

.fa-bell {
  margin-left: 55%;
  font-size: 25px;
}
.hd {
  width: 15%;
  height: 7%;
  border: 2px solid black;
  border-radius: 25px;
  /* float: right; */
  /* margin-top: 3%; */
  position: absolute;
  left: 81%;
  top: 5%;
}
.hd img {
  width: 20%;
  height: 39px;
  border-radius: 20px;
  top: -2px;
}
.ami {
  position: absolute;
  top: 19%;
  left: 65px;
  font-size: 24px;
}
.fa-angle-down {
  position: absolute;
  left: 80% !important;
  top: 8%;
  font-size: 35px;
}
ul li a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}
.pers {
  width: 73%;
  position: absolute;
  left: 25%;
  top: ;
  z-index: 1;
  background-color: white;
  list-style: none;
  text-decoration: none;
}
.pers {
  display: none;
}
.hd:hover .pers {
  display: block;
}
#log {
  color: red;
}
/* side bar */
.sidebar {
  width: 20%;
  height: 628px;
  background-color: #edf5fb;
  position: relative;
  
}
.nav{
    line-height: 2.5;
    list-style: none;
    

}
.a3 {
  display: none;
  list-style: none;
  text-decoration: none;
  margin-left: 20%;
  z-index: -1;
  line-height:1.5;
  background-color: #4d92bd;
 }
.a2:hover .a3 {
  display: block;
}
.a2 {
  margin-left: 25px;
}
.a3 {
  margin-left: 65px;
}
.nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 13% 0% 10% 20%;
}

/* middale */

.middl {
  width: 57%;
  height: 500px;
  position: relative;
  background-image: url(../Image/home-banner-web.png);
  margin-top: 1%;
}
.gur {
  width: 16%;
  margin-left: 5%;
  margin-top: 12%;
  background-color: #ff7426;
  color: white;
  padding: 1%;
}
.top {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(273.57deg, #2e3192 1.14%, #4c92be 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5%;
}

.uti {
  font-weight: 900;
  margin-left: 5%;
  font-size: 20px;
}

.but {
  padding: 15px;
  border: 1px solid blue;
  margin-left: 5%;
  text-decoration: none;
  font-weight: 900;
  background-color: #edf5fb;
  border-radius: 15px;
}
.fa-share {
  margin-top: 2%;
  border: 2px solid blue;
  font-size: 25px;
  background: linear-gradient(273.57deg, #2e3192, #4c92be 50%);
  color: white;
}
.px-3 {
  font-size: 25px;
}

/* last part */
/* Notise */
.notice {
  width: 23%;
  height: 600px;
  margin-top: 1%;
  background-color: #f2f2f2;
}
.box1 {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid grey;
}
#bell {
  color: rgb(249, 249, 63);
  margin-left: 18px;
  margin-top: 8px;
}
.box2 {
  margin-top: 5%;
}
.imp {
  margin-left: 30px;
  font-weight: 800;
  font-size: 22px;
  color: #3d3d3d;
}
#as {
  font-size: 25px;
  margin-left: 10%;
  position: relative;
}
.ple {
  margin-left: 19%;
}
hr {
  margin-top: 5%;
}
.box3 {
  margin-top: 5%;
}
.box4 {
  margin-top: 5%;
}
